.fancybox-slide--image .fancybox-content {
  background: #fff !important;
}

#关注我获取更新 {
  color: var(--post-heading-color);
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 2em;
  font-size: 1.5em;
}